body {
	background-color: black !important;
}

.column {
	background-color: gray;
	padding: 5px;
}

form {
	border-style: none;
}

.module {
	margin: 10px;
	p,
	form {
		background-color: white;
		border-style: none;
		border-left: thick double #fff;
	}

	p:hover,
	form:hover,
	p:active,
	form:active
	 {
    	border-left: thick double #ff0000;
		background-color: yellow;
	}

	::-moz-selection,
	::selection { /* Code for Firefox */
	    color: red;
	    background: yellow;
	}
}